.caseStudySection > div {
  margin-top: 1rem;
}
.caseStudySection > div > center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 80rem;
  margin: auto;
}
.caseStudySection > div > center > a > button {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.caseStudySection > div > center > p {
  padding: 1.6rem 0rem;
  text-align: center;
}
.caseStudySection > div > section {
  margin-top: 4.8rem;
}
