.ourServices > div {
  position: relative;
}
.ourServices > div > blockquote {
  width: 100%;
}
.ourServices > div > blockquote > img {
  position: absolute;
  z-index: -100;
}
.ourServices > div > blockquote > *:first-child {
  right: 2rem;
  margin-top: 33rem;
  height: 19.5rem;
  width: 18rem;
}
@media only screen and (max-width: 37.5em) {
  .ourServices > div > blockquote > *:first-child {
    right: 5rem;
    width: 16rem;
    margin-right: 3rem;
  }
}
.ourServices > div > blockquote > *:last-child {
  left: -1px;
  margin-top: 10rem;
  height: 50rem;
}