.OurServicesBg {
  background: url('/images/aiServices/aiServiceBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.arvrContainer {
  width: 100% !important;
}
.OurServicesBg::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.704);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.OurServicesBg div {
  z-index: 2;
  color: white;
  /* height: 100%; */
  /* margin: 2rem 0; */
  padding: 2rem;
  /* width: 100%; */
}

/* @media screen and (max-width: 768px) {
  .OurServicesBg div {
    padding: 0 1rem;
  }
} */
.OurServicesBg {
  /* background: url('../../../../public/images/ai-services/aiServiceBg.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.OurServicesBg::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.704);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1; /* Keep this lower than the z-index of the content */
}

.OurServicesBg > div > center > p {
  max-width: 72ch;
}
.OurServicesBg div {
  z-index: 2;
  color: white;
  /* height: 100%; */
  /* margin: 2rem 0; */
}

.ourServicesLayout {
  display: flex;
  gap: 4rem;
  align-items: flex-start;
  justify-content: space-between;
}

.ourServicesLeft {
  flex: 1;
  max-width: 50%;
}

.ourServicesRight {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.ourServicesHeader h2 {
  margin-bottom: 1.5rem;
}

.ourServicesHeader p {
  max-width: 90ch;
  line-height: 1.6;
  text-align: center;
}

.ourServicesListsar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: start;
  gap: 2rem;
  width: 100%;
}

.ourServicesListsar div:nth-child(1),
.ourServicesListsar div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
  min-width: 200px;
}

.ourServicesListsar div:nth-child(1) p,
.ourServicesListsar div:nth-child(2) p {
  cursor: pointer;
  position: relative;
}

.ourServicesListsar div:nth-child(1) p::before,
.ourServicesListsar div:nth-child(2) p::before {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  background-color: #1f7ada;
  bottom: 0;
  left: 0;
  transition: all ease 1s;
}

.ourServicesListsar div:nth-child(1) p:hover::before,
.ourServicesListsar div:nth-child(2) p:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #1f7ada;
  bottom: 0;
  left: 0;
}

.ourServicesBlock {
  width: 100%;
  max-width: 550px;
  background-color: #0f0f0fb2;
  padding: 2rem;
  border-radius: 13.84px;
  min-height: 460px;
  display: flex;
  flex-direction: column;
}

.ourServicesBlock img {
  margin-bottom: 1.5rem;
}

.ourServicesBlock h3 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.ourServicesBlock p {
  line-height: 1.6;
  flex: 1;
}

.ourServicesDescription {
  line-height: 1.6;
  flex: 1;
  color: #ffffff;
  font-size: 1.6rem;
}

.ourServicesDescription strong {
  font-weight: 700;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .OurServicesBg div {
    padding: 0.5rem;
  }

  .ourServicesLayout {
    flex-direction: column;
    gap: 3rem;
  }

  .ourServicesLeft,
  .ourServicesRight {
    max-width: 100%;
  }

  .ourServicesListsar {
    padding: 2rem 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .ourServicesBlock {
    width: 100%;
    min-height: auto;
    padding: 1.5rem;
  }

  .ourServicesListsar div {
    width: 100%;
    gap: 1.5rem;
  }

  .ourServicesListsar div p {
    font-size: 1.2rem;
  }

  .ourServicesHeader h2 {
    font-size: 2.5rem;
  }

  .ourServicesHeader p {
    font-size: 1.4rem;
  }
}
@media (max-width: 480px) {
  .OurServicesBg .containerr {
    padding: 20px;
  }
  .ourServicesBlock {
    padding: 1.5rem !important;
  }
}
