.evaluateBussiness {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 760px) {
  .evaluateBussiness > * {
    padding: 0 2%;
  }
  .evaluateBussiness {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
  }
  .unlockBussiness > div > section {
    justify-content: center;
  }
}

.evaluateBussiness > header {
  max-width: 61.6rem;
}
.evaluateBussiness > header > h1 {
  margin-bottom: 1.6rem;
}
.evaluateBussiness > div > div {
  width: 55rem;
}
