.testimonialSectionBackground {
  position: relative;
}
.testimonialSectionBackground > img {
  position: absolute;
  z-index: -1;
  width: 100%;
  margin-top: -60rem;
}
.caseStudySection {
  margin: 10rem 0;
}
.caseStudySection > div {
  margin-top: 5rem;
  padding: 0 5rem;
}
.caseStudySection > div > center > a > button {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.caseStudySection > div > center > a {
  margin-top: 5rem;
}

.caseStudySection > div > section {
  margin-top: 4.8rem;
}
@media (max-width: 480px) {
  .caseStudySection > div {
    padding: 0 3rem;
  }
}
