.marquee-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 5rem 0;
}
.ourClients {
  padding: 5rem 0rem;
}
.marquee-content {
  display: flex;
  animation: marquee 20s linear infinite;
}

.marquee-content img {
  /* margin-right: 20px; */
  width: 100px; /* Adjust width according to your image size */
}

/* Add the marquee effect */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
