.marquee-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 5rem 0;
}
.ourClients {
  padding: 5rem 0rem;
  /* background: linear-gradient(
  to bottom,
  #060203 0%,
  #0f080c 25%,
  #060203 50%,
  #32323e 75%,
  #060203 90%,
  #32323e 100%
); */
}
.marquee-content {
  display: flex;
  animation: marquee 20s linear infinite;
}

.marquee-content img {
  /* margin-right: 20px; */
  width: 100px; /* Adjust width according to your image size */
}

/* Add the marquee effect */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
