.detailNavigate {
  display: flex;
  gap: 4rem;
}
@media only screen and (max-width: 62.6em) {
  .detailNavigate {
    position: relative;
  }
}
@media only screen and (max-width: 62.6em) {
  .detailNavigate > div {
    top: 0rem;
    position: fixed;
    order: 2;
    right: 0rem;
    display: flex;
    z-index: 1000;
    right: -30rem;
  }
}
.detailNavigate > div > button {
  background-color: #fff;
  border: 1px solid white;
  color: #000;
  font-size: 1.6rem;
  padding: 1rem 2.6rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  transition: 0.3s ease-in-out;
  height: 5rem;
  top: 22rem;
  display: none;
  position: absolute;
}
@media only screen and (max-width: 62.6em) {
  .detailNavigate > div > button {
    display: block;
  }
}
.detailNavigate > div > div {
  position: sticky;
  top: 5rem;
  background-color: #0f0f0fb3;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.7rem;
  padding: 3rem 2rem;
  width: 34.8rem;
  transition: 0.09s ease-in-out;
}
@media only screen and (max-width: 62.6em) {
  .detailNavigate > div > div {
    top: 0rem;
    right: 0;
    height: 100vh;
    position: relative;
    background-color: #000;
    width: 30rem;
  }
}
.detailNavigate > div > div > div {
  display: flex;
}
.detailNavigate > div > div > div > div {
  margin-right: 1rem;
}
.detailNavigate > div > div > div > div > p {
  color: #ffffff8e;
  cursor: pointer;
}
.detailNavigate > div > div > div > p {
  color: #ffffff8e;
  cursor: pointer;
}
.detailNavigate > div > div > div > p > a {
  color: white;
  font-weight: bold;
}
.detailNavigate > div > div > *:not(:last-child) {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 62.6em) {
  .detailNavigate > section {
    order: 1;
  }
}
.detailNavigate > section > div > header > p {
  color: #ffffff75;
  margin-bottom: 1rem;
}
.detailNavigate > section > div > header > img {
  margin-top: 3.2rem;
  height: 45rem;
  width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .detailNavigate > section > div > header > img {
    height: 30rem;
  }
}

.detailNavigate > section > div > div > p > h2 {
  margin: 4rem 0 2rem 0;
}

.detailNavigate > section > div > div > p > p > a {
  color: white;
  font-weight: 700;
  text-decoration: underline;
}

.detailNavigate > section > div > div > p > p {
  margin: 2rem 0;
}

.detailNavigate > section > div > *:not(:last-child) {
  margin-bottom: 4rem;
}
.detailNavigate > section > div > div > header > h1 {
  margin-bottom: 2rem;
}
.detailNavigate > section > div > div > p > a {
  color: white;
  font-weight: 700;
  text-decoration: underline;
}
.detailNavigate > section > div > div > section > div {
  margin: 2.5rem 0rem;
}
.detailNavigate > section > div > div > section > div > ul {
  margin-left: 2.5rem;
}
.detailNavigate > section > div > div > section > div > ul > li {
  margin: 0.3rem 0rem;
}
.detailNavigate > section > div > div > section:not(:last-child) {
  margin-bottom: 2rem;
}
.detailNavigate > section > div > div > blockquote {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 2.4rem;
}
.detailNavigate > section > div > div > blockquote > div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
