.cardSectionBackground {
  position: relative;
}
.backgroundImage {
  position: absolute;
  z-index: -90;
  width: 100%;
  height: auto;
  /* height: 100vh; */
  margin-top: -65rem;
}
.expertiseGrid > header {
  max-width: 82rem;
  margin: auto;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 1rem;
}
.expertiseGrid > header > h2 {
  margin-bottom: 1.7rem;
}

@media only screen and (max-width: 62.6em) {
  .expertiseGrid > section > div {
    width: calc(50% - 2.4rem);
  }
}
@media only screen and (max-width: 37.5em) {
  .expertiseGrid > section > div {
    width: 100%;
  }
}
.expertiseGrid > section > div:hover {
  box-shadow:
    0 4px 8px #0003,
    0 6px 20px #00000030;
}
.expertiseGrid > section > div > img {
  margin-bottom: 2.4rem;
}

.gridWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem 0;
  width: 70%;
}

@media only screen and (max-width: 62.6em) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 37.5em) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1.2rem;
  background-color: #0f0f0fb3;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  height: 100%;
}

.card img {
  margin-bottom: 0.8rem;
}

.cardTitle {
  margin: 0;
  font-weight: 600;
  font-size: 1.8rem;
}

.cardDescription {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.6;
  padding: 0 2rem;
}
@media (max-width: 480px) {
  .expertiseGrid {
    padding: 0rem 2rem;
  }
}
