.blogGridWithBanner > div > div {
  position: relative;
}
@media only screen and (max-width: 50em) {
  .blogGridWithBanner > div > div {
    display: none;
  }
}
.blogGridWithBanner > div > div > header {
  height: 30rem;
  display: flex;
  align-items: center;
  margin-bottom: 20.2rem;
  /* margin-bottom: 3.2rem; */
  gap: 4rem;
}
.blogGridWithBanner > div > div > header > div {
  width: 40.4rem;
}
.blogGridWithBanner > div > div > header > div > h1 {
  margin: 1.2rem 0rem;
}
.blogGridWithBanner > div > div > header > div > div > a > button {
  margin-top: 2.4rem;
}

.blogGridWithBanner > div > div > header > div > *:first-child {
  color: #7a7a7ae0;
}
.blogGridWithBanner > div > div > blockquote > img {
  position: absolute;
  z-index: -100;
}
.blogGridWithBanner > div > div > blockquote > *:first-child {
  margin-top: 8rem;
  height: 38rem;
  width: 37rem;
  left: -20rem;
}
.blogGridWithBanner > div > div > blockquote > *:last-child {
  right: -16rem;
  margin-top: 10rem;
}
.blogGridWithBanner > div > div > div {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}
.blogGridWithBanner > div > div > div > * {
  flex: 1 0 calc(33% - 3.2rem);
}
.blogGridWithBanner > div > section {
  display: none;
}
@media only screen and (max-width: 50em) {
  .blogGridWithBanner > div > section {
    display: block;
  }
}
.blogGridWithBanner > div > section > *:not(:last-child) {
  margin-bottom: 5rem;
}
.blogCard > p {
  -webkit-line-clamp: 3;
}

#blogGridWithBanner_heroImage {
  width: 80rem;
  height: 38rem;
  border-radius: 1.5rem;
  overflow: hidden;
}
#blogGridWithBanner_heroImage > img {
  width: 100%;
  /* height: 48rem; */
  height: 40rem;
  transition: 0.5s ease-in-out;
  transform: scale(1.06);
}
#blogGridWithBanner_heroImage:hover img {
  transform: scale(1);
}

.heroImage img {
  width: 80rem;
  height: 38rem;
  border-radius: 1.5rem;
  overflow: hidden;
}
