.OurCommitmentCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
.OurCommitmentCards > div {
  width: 40rem;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 1.2rem;
  background-color: #0f0f0fb3;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.5s all;
  gap: 2rem;
}
.OurCommitmentCards > div > img {
  width: 40%;
  margin: 0 auto;
}

/* Value Text (bigger font size) */
.valueText {
  font-size: 3rem; /* Adjust to your preference */
  font-weight: bold;
}

/* Description Text (smaller font size) */
.descText {
  font-size: 1rem; /* Smaller font size for description */
  line-height: 1.5rem;
}

/* Vertical Divider */
.verticalDivider {
  border: 0;
  border-left: 2px solid #ccc; /* Adjust color and thickness */
  height: auto;
  margin: 0 1rem;
}


.expertiseGrid > center > p{
  max-width: 50ch;
}