.specialSection {
  margin-top: 6rem;
}
.specialSection-background {
  position: relative;
}
.specialSection-background > img {
  position: absolute;
  z-index: -90;
  width: 100%;
  margin-top: -45rem;
}
@media only screen and (max-width: 37.5em) {
  .specialSection {
    margin-top: 9rem;
  }
}
.specialSection > center {
  max-width: 82rem;
  margin: auto;
  text-align: center;
}
.specialSection > center > h1 {
  padding-bottom: 1.6rem;
}
@media only screen and (max-width: 50em) {
  .specialSection > center {
    padding: 2rem;
  }
}
.specialSection > div > section {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* align-items: center; */
  justify-content: space-between;
  /* margin-top: 5rem; */
  /* gap: 2.4rem; */
}
@media only screen and (max-width: 50em) {
  .specialSection > div > section {
    flex-direction: column;
  }
}
.specialSection > div > section > img {
  height: 44rem;
  border: transparent;
}
@media only screen and (max-width: 62.6em) {
  .specialSection > div > section > img {
    width: 40rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 50em) {
  .specialSection > div > section > img {
    margin-top: 2rem;
    max-width: 52rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .specialSection > div > section > img {
    width: 90%;
    margin-bottom: 2rem;
  }
}
.specialSection > div > section > *:first-child {
  display: flex;
  max-width: 70rem;
  margin-bottom: 1rem;
}
.specialSection > div > section > *:first-child > *:last-child > div {
  display: flex;
}
.specialSection
  > div
  > section
  > *:first-child
  > *:last-child
  > div
  > section
  > img {
  height: 2rem;
  width: 2rem;
  margin-top: 0.5rem;
}
.specialSection > div > section > *:first-child > *:last-child > div > div {
  margin-left: 2.4rem;
}
.specialSection
  > div
  > section
  > *:first-child
  > *:last-child
  > div
  > div
  > *
  :first-child {
  margin-bottom: 0.8rem;
}
.specialSection
  > div
  > section
  > *:first-child
  > *:last-child
  > div
  > div
  > *:last-child {
  color: #fbfbfba1;
}
.specialSection
  > div
  > section
  > *:first-child
  > *:last-child
  > *:not(:last-child) {
  margin-bottom: 2.8rem;
}

.specialSectionn div section {
  width: fit-content;
  margin: 0 auto;
}
.specialSection-background,
.heroSectionAiServices-background {
  flex: 1;
}
.award-text {
  display: flex;
  flex-direction: column;
}.award-text {
  display: flex;
  flex-direction: column;
}
.award-section {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.award-text {
  display: flex;
  flex-direction: column;
}
.award-cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px; /* Adjust gap between cards as needed */
}

.award-card {
  flex: 1 1 calc(25% - 32px); /* 4 cards per row with some space around */
  max-width: calc(25% - 32px);
  box-sizing: border-box;
  padding: 16px;
}

.award-card img {
  width: 100%;
  height: auto;
}

.award-card-container {
  display: flex;
  flex-wrap: nowrap; /* No wrap for larger screens */
  justify-content: center;
  gap: 16px; /* Adjust spacing between cards */
}

/* Media query for smaller screens (tablets) */
@media ((min-width: 481px) and (max-width: 768px)) {
  .award-card-container {
    flex-wrap: wrap; /* Enable wrapping for smaller screens */
  }
  .award-card {
    flex: 1 1 calc(33.33% - 32px); /* 3 cards per row */
    max-width: calc(33.33% - 32px);
  }
  .award-text-wrapper {
    /* margin-bottom: 5rem; */
  }
}

/* Media query for mobile screens */
@media ((min-width: 300px) and (max-width: 480px)) {
  .award-cards {
    display: flex;
    flex-wrap: wrap; /* Enable wrapping for smaller screens */
  }
  .award-card {
    flex: 1 1 calc(50% - 32px); /* 2 cards per row */
    max-width: calc(50% - 32px);
  }
}
.award-card {
  width: 130px;
  height: 130px;
  border-radius: 10px;
  display: flex;
  background-color: #0f0f0f4d;
  justify-content: center;
  align-items: center;
  border: 1px solid #3b3939ab; /* Adjust the border color as needed */
  opacity: 1; /* Adjust this value as needed */
}

.award-card img {
  width: 50%;
  height: 50%;
  object-fit: cover; /* Ensures the image covers the area without stretching */
  border-radius: inherit;
}